body {
    background-color: #ccffcc;
    font-family: Arial;
}

.container {
    width: 500px;
    margin: auto;
    background-color: #e0ffe0;
    border: 1px solid #666;
    padding: 20px;
}

h2 {
    text-align: center;
    color: green;
}

table {
    width: 100%;
}

td {
    padding: 5px;
}

.success {
    text-align: center;
    color: red;
    font-weight: bold;
}

input[type="text"], select {
    width: 100%;
}
